*{        
    font-family: sans-serif;    
}
body{
    background-color: rgb(213,225,239);
}

.container{
    margin: 0 auto;
    height: 700px;
    width: 325px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.whitebox{
    background-color: white;
    width: 325px;
    border-radius: 20px;
}

.qr-code{
    padding: 12px;
    height: 300px;
    width: 300px;
    border-radius: 22px;
}

#heading{    
    color: rgb(33, 49, 88);
    font-size: 22px;
}

#bottom-text{
    color: grey;
    font-size: 15px;
    padding: 0 10px ;
}

.text{
    text-align: center;
    padding: 0 25px 25px 20px;
}
