*{        
    font-family: sans-serif;    
}
body{
    background-color: rgb(213,225,239);
}

.container{
    margin: 0 auto;
    height: 1440px;
    width: 375px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    /* align-self: center; */
}

.whitebox{
    background-color: hsl(0, 0%, 100%);
    width: 340px;
    border-radius: 22px;
}

.qr-code{
    margin: 20px;
    height: 300px;
    width: 300px;
    border-radius: 15px;
}

#heading{    
    color: hsl(218, 44%, 22%);
    font-size: 22px;
    font-weight: 700;
}

#bottom-text{
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400;
    padding: 20px 10px ;
}

.text{
    margin: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;    
}
